body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:659px;
  top:247px;
  width:180px;
  height:160px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:160px;
}
#u1 {
  position:absolute;
  left:2px;
  top:72px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:657px;
  top:190px;
  width:182px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:663px;
  top:433px;
  width:52px;
  height:30px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:858px;
  top:433px;
  width:52px;
  height:30px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:603px;
  top:428px;
  width:50px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:798px;
  top:428px;
  width:50px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:611px;
  top:436px;
  width:34px;
  height:30px;
  font-size:20px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:806px;
  top:435px;
  width:34px;
  height:30px;
  font-size:20px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:316px;
  top:520px;
  width:290px;
  height:32px;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:316px;
  top:1260px;
  width:201px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:316px;
  top:1318px;
  width:124px;
  height:120px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:120px;
}
#u21 {
  position:absolute;
  left:2px;
  top:45px;
  width:120px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:631px;
  top:1318px;
  width:124px;
  height:120px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:120px;
}
#u23 {
  position:absolute;
  left:2px;
  top:52px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:473px;
  top:1318px;
  width:124px;
  height:120px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:120px;
}
#u25 {
  position:absolute;
  left:2px;
  top:52px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:786px;
  top:1318px;
  width:124px;
  height:120px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:148px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:148px;
}
#u29 {
  position:absolute;
  left:2px;
  top:66px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:148px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:148px;
}
#u31 {
  position:absolute;
  left:2px;
  top:66px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:-2px;
  top:148px;
  width:204px;
  height:201px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:201px;
}
#u33 {
  position:absolute;
  left:2px;
  top:92px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:316px;
  top:558px;
  width:834px;
  height:312px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:312px;
}
#u35 {
  position:absolute;
  left:2px;
  top:148px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:909px;
  top:582px;
  width:207px;
  height:165px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:165px;
}
#u37 {
  position:absolute;
  left:2px;
  top:74px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:334px;
  top:587px;
  width:447px;
  height:43px;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:43px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:334px;
  top:625px;
  width:69px;
  height:33px;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:334px;
  top:665px;
  width:137px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:334px;
  top:702px;
  width:542px;
  height:36px;
  font-size:28px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:36px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:538px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:334px;
  top:757px;
  width:86px;
  height:15px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:437px;
  top:757px;
  width:86px;
  height:15px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:334px;
  top:784px;
  width:782px;
  height:36px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:36px;
}
#u49 {
  position:absolute;
  left:2px;
  top:9px;
  width:778px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:341px;
  top:790px;
  width:60px;
  height:24px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:334px;
  top:827px;
  width:782px;
  height:36px;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:36px;
}
#u53 {
  position:absolute;
  left:2px;
  top:9px;
  width:778px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:341px;
  top:834px;
  width:60px;
  height:24px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:334px;
  top:567px;
  width:86px;
  height:15px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:316px;
  top:888px;
  width:834px;
  height:312px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:312px;
}
#u58 {
  position:absolute;
  left:2px;
  top:148px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:909px;
  top:912px;
  width:207px;
  height:165px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:165px;
}
#u60 {
  position:absolute;
  left:2px;
  top:74px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:334px;
  top:917px;
  width:447px;
  height:43px;
  font-size:36px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:43px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:334px;
  top:955px;
  width:69px;
  height:33px;
  font-size:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:334px;
  top:995px;
  width:137px;
  height:30px;
  font-size:16px;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:334px;
  top:1032px;
  width:542px;
  height:36px;
  font-size:28px;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:538px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:334px;
  top:1087px;
  width:86px;
  height:15px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:437px;
  top:1087px;
  width:86px;
  height:15px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:334px;
  top:1114px;
  width:782px;
  height:36px;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:9px;
  width:778px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:341px;
  top:1120px;
  width:60px;
  height:24px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:334px;
  top:1157px;
  width:782px;
  height:36px;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:36px;
}
#u76 {
  position:absolute;
  left:2px;
  top:9px;
  width:778px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:341px;
  top:1164px;
  width:60px;
  height:24px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:334px;
  top:897px;
  width:86px;
  height:15px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u80 {
  position:absolute;
  left:940px;
  top:1318px;
  width:124px;
  height:120px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:120px;
}
#u81 {
  position:absolute;
  left:2px;
  top:52px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
